Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json

Rely on the configuration to access the DB
  dnd5esheets/db.py
Labels: backend

Install pytest in dev
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Setup the dump/restore logic to get a greenfield dataset for each test
  dnd5esheets/cli.py
  dnd5esheets/tests/__init__.py
  dnd5esheets/tests/conftest.py
Labels: backend

Add the make test target
  Makefile
Labels: none

Add github actions to run tests
  .github/workflows/testing.yml
Labels: ci

Only mount the static file serving of built JS app if it exists (ie not in CI)
  dnd5esheets/app.py
Labels: backend

Silence warnings
  pyproject.toml
Labels: backend, dependencies

Add useless tests
  dnd5esheets/tests/test_api_character.py
Labels: backend

cache pip dependencies
  .github/workflows/testing.yml
Labels: ci

Fix formatting
  .github/workflows/testing.yml
  pyproject.toml
Labels: backend, ci, dependencies

Setup backend testing (#81)
  .github/workflows/testing.yml
  Makefile
  dnd5esheets/app.py
  dnd5esheets/cli.py
  dnd5esheets/config/__init__.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/db.py
  dnd5esheets/tests/__init__.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  poetry.lock
  pyproject.toml
Labels: backend, ci, dependencies

add parser for effect rules
  .vscode/extensions.json
  dnd5esheets/front/.prettierignore
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/effect-parser/grammar.pegjs
  dnd5esheets/front/src/effect-parser/index.test.ts
  dnd5esheets/front/src/effect-parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

Fix violations found by make check
  dnd5esheets/migrations/versions/cb612db24d70_add_created_updated_at_to_all_models.py
  dnd5esheets/models.py
Labels: database, backend

Some modules don't provide types and that's life
  pyproject.toml
Labels: backend, dependencies

Run backend checkers in CI
  .github/workflows/testing.yml
  Makefile
Labels: ci

Run backend quality checkers in CI (#83)
  .github/workflows/testing.yml
  Makefile
  dnd5esheets/migrations/versions/cb612db24d70_add_created_updated_at_to_all_models.py
  dnd5esheets/models.py
  pyproject.toml
Labels: database, backend, ci, dependencies

hide parser generated code in PRs
  .gitattributes
Labels: none

Run prettier in CI
  .github/workflows/testing.yml
  Makefile
  dnd5esheets/front/package.json
Labels: frontend, ci, dependencies

Split backend and frontend in 2
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
Labels: ci

Remove check affecting CI
  Makefile
Labels: none

Punch in prettier changes
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Ignore pytest_cache
  .gitignore
Labels: none

Cache checker tooling internal files
  .github/workflows/testing-backend.yml
Labels: ci

Install poetry beforehand
  .github/workflows/testing-backend.yml
Labels: ci

Remove extra restore-keys
  .github/workflows/testing-backend.yml
Labels: ci

Run prettier in CI (#84)
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  Makefile
  dnd5esheets/front/package.json
  dnd5esheets/front/src/store/index.ts
Labels: frontend, ci, dependencies

Cache checker internal files (#85)
  .github/workflows/testing-backend.yml
Labels: ci

Fix naming
  .github/workflows/testing-backend.yml
Labels: ci

Fetch item translations from the foundryvtt-dnd5e-lang-fr-fr data
  Makefile
  dnd5esheets/data/items-base.json
  poetry.lock
  pyproject.toml
  scripts/preprocess_base_item_json.py
Labels: backend, dependencies

Don't enfore ASCII characters in JSON dump
  dnd5esheets/data/items-base.json
  scripts/preprocess_base_item_json.py
Labels: none

Add missing JSON file
  dnd5esheets/data/translations-items-fr.json
Labels: none

Filter out empty items
  dnd5esheets/data/items-base.json
  scripts/preprocess_base_item_json.py
Labels: none

Add a fixtures<-data dependency
  Makefile
Labels: none

Fetch item translations from the `foundryvtt-dnd5e-lang-fr-fr` module data (#88)
  Makefile
  dnd5esheets/data/items-base.json
  dnd5esheets/data/translations-items-fr.json
  poetry.lock
  pyproject.toml
  scripts/preprocess_base_item_json.py
Labels: backend, dependencies

Allow to print SQL statements by exporting the SQLALCHEMY_ECHO=true env var
  dnd5esheets/config/base.py
  dnd5esheets/db.py
Labels: backend

add the effect interpreter
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.test.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/vitest.config.js
Labels: frontend, dependencies

Update requirements.txt
  requirements.txt
Labels: none

Add missing import
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Turns out PHONY targets can't be multilined
  Makefile
Labels: none

Expose the CLI via an entrypoint script
  Makefile
  pyproject.toml
Labels: backend, dependencies
