Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

Add CLI docstrings
  dnd5esheets/cli.py
Labels: backend

Make sure to set NODE_ENV when running tests
  dnd5esheets/front/.env.testing
  dnd5esheets/front/package.json
Labels: frontend, dependencies

Run the frontend unit tests in CI
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  Makefile
Labels: ci

Make it faster to run the tests by pre-hashing the passwords
  dnd5esheets/cli.py
  dnd5esheets/db/fixtures/dev.json
Labels: backend

We need a secret key in test as well
  dnd5esheets/config/test.py
Labels: backend

Add unit tests for API handlers
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_login.py
  dnd5esheets/tests/test_api_party.py
  dnd5esheets/tests/test_api_player.py
  dnd5esheets/tests/utils.py
Labels: backend

Forbid any out-of-schema fields in the payloads of update calls
  dnd5esheets/schemas.py
Labels: backend

Forbid any out-of-schema fields in the payloads of update calls
  dnd5esheets/schemas.py
Labels: backend

We need a secret key in test as well
  dnd5esheets/config/test.py
Labels: backend

Add unit tests for API handlers
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_login.py
  dnd5esheets/tests/test_api_party.py
  dnd5esheets/tests/test_api_player.py
  dnd5esheets/tests/utils.py
Labels: backend

WIP
  dnd5esheets/api/login.py
  dnd5esheets/config/base.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_login.py
Labels: api, backend

replace python-jose by fastapi-jwt-auth
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backend, dependencies

Set the CRSF and JWT tokens in cookies
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/dev.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/JsonWebToken.ts
  dnd5esheets/front/src/5esheets-client/services/LoginService.ts
  dnd5esheets/security/jwt.py
  dnd5esheets/security/user.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_login.py
  dnd5esheets/tests/test_api_party.py
Labels: api, backend, frontend, security

Store the JWT in client cookies (#100)
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/dev.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/JsonWebToken.ts
  dnd5esheets/front/src/5esheets-client/services/LoginService.ts
  dnd5esheets/security/jwt.py
  dnd5esheets/security/user.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_login.py
  dnd5esheets/tests/test_api_party.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: api, backend, frontend, security, dependencies

Pin node to v18.16.1 as we've seen failing tests in v20 for some unknown reason
  .github/workflows/testing-frontend.yml
Labels: ci

Run the frontend unit tests in CI (#97)
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  Makefile
Labels: ci

Pin node to 18.16.1 using nvm
  .nvmrc
Labels: none

Requirements.txt is generated by poetry
  .gitattributes
Labels: none

package-lock.json is generated by npm
  .gitattributes
Labels: none

Run tests once, to take it easy with CI
  dnd5esheets/front/package.json
Labels: frontend, dependencies

Setup CORS to allow API calls to come from the dev frontend server
  dnd5esheets/app.py
  dnd5esheets/config/base.py
Labels: backend

Configure the base API host according to the NODE_ENV environment variable
  Makefile
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
Labels: frontend

Don't configure CORS in prod, as the static will be hitting the same domain
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
Labels: backend

Don't autofix files, as it will make CI pass everytime
  Makefile
Labels: none

Fix ruff violations
  dnd5esheets/tests/test_api_login.py
Labels: backend

Define the root of the 5esheet API client as a make variable
  Makefile
Labels: none

Setup CORS to allow API calls to come from the dev frontend server (#101)
  Makefile
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
Labels: backend, frontend

Make the Json.update_from_dict method fully recursive
  dnd5esheets/models.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_model.py
Labels: backend

Make sure the data is displayed correctly in the frontend
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Fix backend tests
  dnd5esheets/tests/test_api_character.py
Labels: backend

Regenerate client and openapi spec
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/store/index.ts
Labels: api, frontend

Pleasing the backend checkers
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_login.py
Labels: api, backend, frontend

Define a schema for the character sheet data
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Reflect the schema changes on the frontend side
  dnd5esheets/front/src/5esheets-client/models/ActionType.ts
  dnd5esheets/front/src/5esheets-client/models/Attack.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/CustomResource.ts
  dnd5esheets/front/src/5esheets-client/models/HitDice.ts
  dnd5esheets/front/src/5esheets-client/models/HitPoints.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Run prettier
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Type frontend-evaluated fields as non-optional as the server sends a default value of 0
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/schemas.py
  scripts/preprocess_openapi_json.py
Labels: api, backend, frontend

Add missing model file
  dnd5esheets/front/src/5esheets-client/models/Money.ts
Labels: frontend

Prettier
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Add missing field money
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Cleanup
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json
