Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

Reconcile most of the subfields (except lists)
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Get rid of typing errors
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Update fastapi
  requirements.txt
Labels: none

Automatic formatting
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Re-generate the TS APi client with the new openapi-typescript-codegen version
  dnd5esheets/front/src/5esheets-client/core/ApiError.ts
  dnd5esheets/front/src/5esheets-client/core/ApiRequestOptions.ts
  dnd5esheets/front/src/5esheets-client/core/ApiResult.ts
  dnd5esheets/front/src/5esheets-client/core/CancelablePromise.ts
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/5esheets-client/core/request.ts
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/Body_login_login_for_access_token.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/DisplayPartySchema.ts
  dnd5esheets/front/src/5esheets-client/models/DisplayPlayerSchema.ts
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/HTTPValidationError.ts
  dnd5esheets/front/src/5esheets-client/models/ItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ListCharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/PartySchema.ts
  dnd5esheets/front/src/5esheets-client/models/PlayerSchema.ts
  dnd5esheets/front/src/5esheets-client/models/UpdateCharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/UpdatePartySchema.ts
  dnd5esheets/front/src/5esheets-client/models/UpdatePlayerSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ValidationError.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/front/src/5esheets-client/services/LoginService.ts
  dnd5esheets/front/src/5esheets-client/services/PartyService.ts
  dnd5esheets/front/src/5esheets-client/services/PlayerService.ts
Labels: frontend

Don't autofix files, as it will make CI pass everytime
  Makefile
  dnd5esheets/tests/test_api_login.py
Labels: backend

Define a schema for the character sheet data (#102)
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ActionType.ts
  dnd5esheets/front/src/5esheets-client/models/Attack.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/CustomResource.ts
  dnd5esheets/front/src/5esheets-client/models/HitDice.ts
  dnd5esheets/front/src/5esheets-client/models/HitPoints.ts
  dnd5esheets/front/src/5esheets-client/models/Money.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/models.py
  dnd5esheets/repositories/character.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  scripts/preprocess_openapi_json.py
Labels: api, backend, frontend

Remove un-used packages
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Use JSON notation for CMD, to satisfy hadolint
  Dockerfile
Labels: none

Lint the Dockerfile in CI
  .github/workflows/testing-backend.yml
Labels: ci

Rolling back to pydantic 1.10
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Temporarily ignore typing errors until mypy 8.1.6 is released
  dnd5esheets/cli.py
Labels: backend

Name CI step
  .github/workflows/testing-backend.yml
Labels: ci

Update requirements.txt
  requirements.txt
Labels: none

List characters by hitting the /api/character/ API
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/routes/index.tsx
Labels: frontend

Run prettier
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/routes/index.tsx
Labels: frontend

List characters by hitting the /api/character/ API (#121)
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/routes/index.tsx
Labels: frontend

Define an API to create a character
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ActionType.ts
  dnd5esheets/front/src/5esheets-client/models/Attack.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/CustomResource.ts
  dnd5esheets/front/src/5esheets-client/models/HitDice.ts
  dnd5esheets/front/src/5esheets-client/models/HitPoints.ts
  dnd5esheets/front/src/5esheets-client/models/Money.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/migrations/versions/75d60ad2f121_character_nullable_fields.py
  dnd5esheets/models.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/player.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
Labels: api, database, backend, frontend

Reformatting
  dnd5esheets/migrations/versions/75d60ad2f121_character_nullable_fields.py
Labels: database, backend

Add missing file
  dnd5esheets/front/src/5esheets-client/models/CreateCharacterSchema.ts
Labels: frontend

Add missing type package
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Fix types/lint violations
  dnd5esheets/repositories/character.py
Labels: backend

Make sure a Character slug is unique per player
  dnd5esheets/app.py
  dnd5esheets/migrations/versions/3fb13bacd9e0_character_slug_unique_per_player.py
  dnd5esheets/models.py
  dnd5esheets/repositories/__init__.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
Labels: database, backend

Compute the ETag of a character, to allow for browser-side caching
  dnd5esheets/api/character.py
  dnd5esheets/app.py
  dnd5esheets/etag.py
  dnd5esheets/exceptions.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
Labels: api, backend

Fix checks violations
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/repositories/character.py
Labels: backend

Define an API to create a character (#123)
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ActionType.ts
  dnd5esheets/front/src/5esheets-client/models/Attack.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/CreateCharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CustomResource.ts
  dnd5esheets/front/src/5esheets-client/models/HitDice.ts
  dnd5esheets/front/src/5esheets-client/models/HitPoints.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/migrations/versions/75d60ad2f121_character_nullable_fields.py
  dnd5esheets/models.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/player.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  poetry.lock
  pyproject.toml
Labels: api, database, backend, frontend, dependencies

Fix black violations
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
Labels: backend

Enforce character slug uniqueness per player id (#124)
  dnd5esheets/app.py
  dnd5esheets/migrations/versions/3fb13bacd9e0_character_slug_unique_per_player.py
  dnd5esheets/models.py
  dnd5esheets/repositories/__init__.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
Labels: database, backend

Fix black violations
  dnd5esheets/repositories/character.py
Labels: backend

Compute the ETag of a character, to enable browser-side caching (#127)
  dnd5esheets/api/character.py
  dnd5esheets/app.py
  dnd5esheets/etag.py
  dnd5esheets/exceptions.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
Labels: api, backend

Add tests for all repositories
  dnd5esheets/db.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/party.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_party.py
  dnd5esheets/tests/test_repository_player.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Add tests for all repositories (#128)
  dnd5esheets/db.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/party.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_party.py
  dnd5esheets/tests/test_repository_player.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Minor dependency updates
  poetry.lock
  requirements.txt
Labels: backend, dependencies

Implement the character deletion API
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend

Don't crash when attempting to compute the ETag of a missing resource
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
Labels: api, backend

Fix violation
  dnd5esheets/repositories/character.py
Labels: backend

Fix tests
  dnd5esheets/repositories/character.py
Labels: backend

Make sure we have the right cascade in place
  dnd5esheets/tests/test_model.py
Labels: backend

Implement the Character deletion API (#129)
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend

Format the alembic migrations using black, to avoid check failures
  alembic.ini
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json
