Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

Replace fastapi-auth-jwt by fastapi-jwt
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/dev.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/schemas.py
  dnd5esheets/security/user.py
  dnd5esheets/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: api, backend, security, dependencies

Replace fastapi-auth-jwt by fastapi-jwt (#137)
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/dev.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/schemas.py
  dnd5esheets/security/user.py
  dnd5esheets/tests/conftest.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: api, backend, security, dependencies

Update to pydantic 2.0
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ActionType.ts
  dnd5esheets/front/src/5esheets-client/models/Body_login_login_for_access_token.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/UpdateCharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/UpdatePartySchema.ts
  dnd5esheets/front/src/5esheets-client/models/UpdatePlayerSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/schemas.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: api, backend, frontend, dependencies

Rename displayCharacter to getCharacter
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
Labels: api, backend, frontend

Rename displayCharacter to getCharacter (#138)
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
Labels: api, backend, frontend

Define an admin interface for DB models using sqlmodel
  dnd5esheets/admin.py
  dnd5esheets/app.py
  dnd5esheets/models.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backend, dependencies

Define an admin interface for DB models using sqlmodel (#139)
  dnd5esheets/admin.py
  dnd5esheets/app.py
  dnd5esheets/models.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backend, dependencies

prettier
  .editorconfig
  dnd5esheets/front/.prettierrc.json
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/Counter.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/index.test.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/entry-client.tsx
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/i18n/index.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/[...404].tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/vite.config.ts
  dnd5esheets/front/vitest.config.js
Labels: frontend

implement effects
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.ts
Labels: frontend

wire the api
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

Exclude updated_at/created_at columns from admin edit forms
  dnd5esheets/admin.py
Labels: backend

Automatically hide foreign key fields
  dnd5esheets/admin.py
Labels: backend

Add an admin view for equipped items
  dnd5esheets/admin.py
Labels: backend

Sort models by name in admin
  dnd5esheets/admin.py
Labels: backend

Automatically discover admin views in admin module
  dnd5esheets/admin.py
Labels: backend

Fail a PR if the 'do not merge' label is applied
  .github/workflows/fail-if-do-not-merge-label.yml
Labels: ci

Refactor the abiities and skills data schema
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/Abilities.ts
  dnd5esheets/front/src/5esheets-client/models/Ability.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/Skill.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Skills.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

switch to an SPA architecture
  dnd5esheets/front/README.md
  dnd5esheets/front/index.html
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/assets/background-1.svg
  dnd5esheets/front/src/assets/border-1.svg
  dnd5esheets/front/src/assets/favicon.ico
  dnd5esheets/front/src/assets/font/Bookinsanity.otf
  dnd5esheets/front/src/assets/font/Mr Eaves Small Caps.otf
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/entry-client.tsx
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/index.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/[...404].tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/tsconfig.json
  dnd5esheets/front/vite.config.ts
Labels: frontend, dependencies

add linter
  Makefile
  dnd5esheets/front/.eslintrc.json
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/index.tsx
Labels: frontend, dependencies

Add validation on character level
  dnd5esheets/models.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_model.py
Labels: backend

switch to an SPA architecture (#156)
  dnd5esheets/front/README.md
  dnd5esheets/front/index.html
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/assets/background-1.svg
  dnd5esheets/front/src/assets/border-1.svg
  dnd5esheets/front/src/assets/favicon.ico
  dnd5esheets/front/src/assets/font/Bookinsanity.otf
  dnd5esheets/front/src/assets/font/Mr Eaves Small Caps.otf
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/entry-client.tsx
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/index.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/[...404].tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/tsconfig.json
  dnd5esheets/front/vite.config.ts
Labels: frontend, dependencies

add linter (#157)
  Makefile
  dnd5esheets/front/.eslintrc.json
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

implement effects
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend

implement effects (#141)
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Only install production dependencies when building the JS app in docker
  Dockerfile
Labels: none

Have the admin use the async DB engine
  dnd5esheets/admin.py
  dnd5esheets/app.py
Labels: backend

Hide the hashed password from the admin user details
  dnd5esheets/admin.py
Labels: backend

Cleanup comment
  dnd5esheets/app.py
Labels: backend

Rerun the 'do not merge' check when pushing on non-main branches
  .github/workflows/fail-if-do-not-merge-label.yml
Labels: ci

Fix ignore branch condition
  .github/workflows/fail-if-do-not-merge-label.yml
Labels: ci

Clean up root Makefile by defining a submakefile for data files
  Makefile
  dnd5esheets/data/data.mk
Labels: none

Add validation on spell level
  dnd5esheets/models.py
  dnd5esheets/tests/test_model.py
Labels: backend

Make it possible to sort by level and search by level
  dnd5esheets/admin.py
Labels: backend

Import all spells from PHB, TCE & XGE to DB
  Makefile
  dnd5esheets/admin.py
  dnd5esheets/cli.py
  dnd5esheets/data/spells-phb.json
  dnd5esheets/data/spells-tce.json
  dnd5esheets/data/spells-xge.json
  dnd5esheets/data/spells.json
  dnd5esheets/data/translations-spells-fr.json
  dnd5esheets/migrations/versions/d4d2b2fce5f8_spell_table.py
  dnd5esheets/models.py
  scripts/preprocess_base_item_json.py
  scripts/preprocess_spells_json.py
Labels: database, backend

add store to centralize call to API
  Makefile
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/routes/characters/[slug].tsx
  dnd5esheets/front/src/routes/characters/index.tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

nits
  dnd5esheets/front/src/store/index.ts
Labels: frontend

implement new schema in character sheet + fix front
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/public/assets/background-1.svg
  dnd5esheets/front/public/assets/border-1.svg
  dnd5esheets/front/public/assets/favicon.ico
  dnd5esheets/front/public/assets/font/Bookinsanity.otf
  dnd5esheets/front/public/assets/font/Mr Eaves Small Caps.otf
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/tsconfig.json
Labels: frontend, dependencies

remove unnecessary tsconfig path
  dnd5esheets/front/tsconfig.json
Labels: frontend

Refactor the abiities and skills data schema (#148)
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/Abilities.ts
  dnd5esheets/front/src/5esheets-client/models/Ability.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/Skill.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Skills.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

Update dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
Labels: frontend

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json
