Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json

Add APIs to equip and unequip an item for a given character (#169)
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/equipped_item.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_equipped_item.py
Labels: api, backend, frontend

Add APIs to prepare and unprepare a spell for a given character
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/RestrictedKnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/known_spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

Add APIs to prepare and unprepare a spell for a given character (#170)
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/RestrictedKnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/known_spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

Slightly speed up the tests
  dnd5esheets/tests/conftest.py
Labels: backend

Colorize the JSON fields of items and spells
  dnd5esheets/admin/admin.py
Labels: backend

Display accents and emojis in json fields
  dnd5esheets/admin/admin.py
Labels: backend

Capitalize spell school name
  dnd5esheets/admin/admin.py
Labels: backend

Add an API to display a spell
  dnd5esheets/api/root.py
  dnd5esheets/api/spell.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/DurationUnit.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/TimeUnit.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  dnd5esheets/tests/test_repository_spell.py
Labels: api, backend, frontend

Add an API to display a spell (#171)
  dnd5esheets/api/root.py
  dnd5esheets/api/spell.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/DurationUnit.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/TimeUnit.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  dnd5esheets/tests/test_repository_spell.py
Labels: api, backend, frontend

Add an API to display an item
  dnd5esheets/api/item.py
  dnd5esheets/api/root.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_repository_item.py
Labels: api, backend, frontend

Add an API to display an item (#172)
  dnd5esheets/api/item.py
  dnd5esheets/api/root.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_repository_item.py
Labels: api, backend, frontend

Inject an etag response header when getting a spell or an item
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
  dnd5esheets/etag.py
  dnd5esheets/models.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/spell.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_api_spell.py
Labels: api, backend

Improve the etag computation API by moving it to the model
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
  dnd5esheets/etag.py
  dnd5esheets/models.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/spell.py
Labels: api, backend

Avoid repeats
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
Labels: api, backend

Inject an etag response header when getting a spell or an item (#173)
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
  dnd5esheets/etag.py
  dnd5esheets/models.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_api_spell.py
Labels: api, backend

Improve API routes explicitness
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/tests/test_api_character.py
Labels: api, backend, frontend

Add APIs to learn and forget a spell
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/spell.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

Add APIs to learn and forget a spell (#174)
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/spell.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend, frontend

Add APIs to add/remove and item to/from the character's equipment
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend

Add APIs to add/remove and item to/from the character's equipment (#175)
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: api, backend

Add more docstrings
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
  dnd5esheets/repositories/character.py
Labels: api, backend

Ensure resource owner is appropriate when modifying it
  dnd5esheets/repositories/character.py
Labels: backend

Move repository exceptions to the exceptions module
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/repositories/__init__.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_equipped_item.py
  dnd5esheets/tests/test_repository_party.py
  dnd5esheets/tests/test_repository_player.py
Labels: api, backend

Cleanup the app creation and component registration code
  Makefile
  dnd5esheets/api/__init__.py
  dnd5esheets/api/root.py
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/middleware.py
  dnd5esheets/spa.py
  dnd5esheets/tests/conftest.py
  scripts/start-app.sh
Labels: api, backend

Fix violations
  dnd5esheets/__init__.py
  dnd5esheets/api/root.py
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/middleware.py
  dnd5esheets/spa.py
Labels: api, backend

Improve the initialization of the app
  dnd5esheets/__init__.py
  dnd5esheets/app.py
Labels: backend

Create the app via the app factory pattern (#176)
  Makefile
  dnd5esheets/__init__.py
  dnd5esheets/api/__init__.py
  dnd5esheets/api/root.py
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/middleware.py
  dnd5esheets/spa.py
  dnd5esheets/tests/conftest.py
  scripts/start-app.sh
Labels: api, backend

Pluralize modue name to make it consistent with others
  dnd5esheets/app.py
  dnd5esheets/middlewares.py
Labels: backend

Fix openapi.json file generation
  Makefile
Labels: none

Define the schema of an item data
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ItemAttributes.ts
  dnd5esheets/front/src/5esheets-client/models/ItemDamage.ts
  dnd5esheets/front/src/5esheets-client/models/ItemData.ts
  dnd5esheets/front/src/5esheets-client/models/ItemMeta.ts
  dnd5esheets/front/src/5esheets-client/models/ItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ResourceSource.ts
  dnd5esheets/front/src/5esheets-client/models/ResourceTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingFocusType.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponCategory.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponType.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_item.py
Labels: api, backend, frontend

Define the schema of an item data (#177)
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/ItemAttributes.ts
  dnd5esheets/front/src/5esheets-client/models/ItemDamage.ts
  dnd5esheets/front/src/5esheets-client/models/ItemData.ts
  dnd5esheets/front/src/5esheets-client/models/ItemMeta.ts
  dnd5esheets/front/src/5esheets-client/models/ItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ResourceSource.ts
  dnd5esheets/front/src/5esheets-client/models/ResourceTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingFocusType.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponCategory.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponType.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_item.py
Labels: api, backend, frontend

Validate the schema of each spell in DB in unit tests
  dnd5esheets/data/spells.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  scripts/preprocess_spells_json.py
Labels: api, backend, frontend

Validate the schema of each spell in DB in unit tests (#178)
  dnd5esheets/data/spells.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  scripts/preprocess_spells_json.py
Labels: api, backend, frontend
