Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json

fix OpenAPI BASE prefix
  dnd5esheets/front/src/store/index.ts
Labels: frontend

prettier
  dnd5esheets/front/src/store/index.ts
Labels: frontend

add store to centralize call to API (#158)
  Makefile
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/public/assets/background-1.svg
  dnd5esheets/front/public/assets/border-1.svg
  dnd5esheets/front/public/assets/favicon.ico
  dnd5esheets/front/public/assets/font/Bookinsanity.otf
  dnd5esheets/front/public/assets/font/Mr Eaves Small Caps.otf
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/routes/characters/[slug].tsx
  dnd5esheets/front/src/routes/characters/index.tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

FastAPI either serves assets or the SPA root index file
  dnd5esheets/app.py
  dnd5esheets/spa.py
Labels: backend

Import all spells from PHB, TCE & XGE to DB (#151)
  Makefile
  dnd5esheets/admin.py
  dnd5esheets/cli.py
  dnd5esheets/data/data.mk
  dnd5esheets/data/spells-phb.json
  dnd5esheets/data/spells-tce.json
  dnd5esheets/data/spells-xge.json
  dnd5esheets/data/spells.json
  dnd5esheets/data/translations-spells-fr.json
  dnd5esheets/migrations/versions/d4d2b2fce5f8_spell_table.py
  dnd5esheets/models.py
  dnd5esheets/tests/test_model.py
  scripts/preprocess_base_item_json.py
  scripts/preprocess_spells_json.py
Labels: database, backend

Add validation on character level
  dnd5esheets/models.py
  dnd5esheets/tests/test_model.py
Labels: backend

Add validation on character level (#155)
  dnd5esheets/models.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_model.py
Labels: backend

FastAPI either serves assets or the SPA root index file (#159)
  dnd5esheets/app.py
  dnd5esheets/spa.py
Labels: backend

Restore the generation of the API client as a dependency of make build
  Makefile
Labels: none

Protect main branch with a pre-push hook to avoid pushing broken commits
  Makefile
  scripts/pre-push
Labels: none

Improve schema by adding enums and field validations
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/Abilities.ts
  dnd5esheets/front/src/5esheets-client/models/AbilityName.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Update requirements.txt
  pyproject.toml
  requirements.txt
Labels: backend, dependencies

Resolve deprecation warning about BaseModel.dict()
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/party.py
  dnd5esheets/repositories/player.py
Labels: backend

Resolve warnings related to non-awaited session.close() method
  dnd5esheets/db.py
  dnd5esheets/tests/conftest.py
  pyproject.toml
Labels: backend, dependencies

Silence deprecation warning in passlib
  pyproject.toml
Labels: backend, dependencies

Add a workflow that updates requirements.txt when poetry.lock has changed
  .github/workflows/update-requirements-after-dependabot.yml
Labels: ci

Add a workflow that updates requirements.txt when poetry.lock has changed (#166)
  .github/workflows/update-requirements-after-dependabot.yml
Labels: ci

Tidy up the spell JSON schema
  dnd5esheets/data/spells.json
  scripts/preprocess_spells_json.py
Labels: none

Link characters to spells in DB
  dnd5esheets/migrations/versions/a4d56d02c64b_link_spells_to_character.py
  dnd5esheets/models.py
Labels: database, backend

Move spellbook to DB population script
  dnd5esheets/cli.py
  dnd5esheets/db/fixtures/dev.json
Labels: backend

Define the spellbook schema
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/KnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchemaNoData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Define an admin view for the prepared spells
  dnd5esheets/admin.py
Labels: backend

Cleanup fixtures
  dnd5esheets/db/fixtures/dev.json
Labels: none

Define magic school as an enum
  dnd5esheets/data/spells.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/MagicSchool.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchemaNoData.ts
  dnd5esheets/schemas.py
  scripts/preprocess_spells_json.py
Labels: api, backend, frontend

Remove cruft from schema
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Harden the schema of a Spell data (#167)
  dnd5esheets/admin.py
  dnd5esheets/cli.py
  dnd5esheets/data/spells.json
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/KnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/MagicSchool.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchemaNoData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/migrations/versions/a4d56d02c64b_link_spells_to_character.py
  dnd5esheets/models.py
  dnd5esheets/schemas.py
  scripts/preprocess_spells_json.py
Labels: api, database, backend, frontend

Display dict fields a pretty-printed JSON in a <pre> block, in the admin
  dnd5esheets/admin.py
Labels: backend

Display a response validation error in dev mode to help fixing schema locally
  dnd5esheets/app.py
  dnd5esheets/config/__init__.py
Labels: backend

Rely on starlette status constants
  dnd5esheets/app.py
Labels: backend

Clean up str/repr
  dnd5esheets/models.py
Labels: backend

Include VSMRC boolean fields to the spells when describing a character
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/ListingSpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/RestrictedKnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/RestrictedSpellData.ts
  dnd5esheets/front/src/5esheets-client/models/RestrictedSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/schemas.py
  scripts/preprocess_openapi_json.py
Labels: api, backend, frontend

Tweak the admin UI title
  dnd5esheets/admin.py
Labels: backend

[admin] Pretty print and colorize JSON fields in models
  Makefile
  dnd5esheets/admin/__init__.py
  dnd5esheets/admin/admin.mk
  dnd5esheets/admin/admin.py
  dnd5esheets/admin/statics/pygments.css
  dnd5esheets/admin/templates/details_custom.html
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Fix violations
  dnd5esheets/admin/__init__.py
  dnd5esheets/admin/admin.py
Labels: backend

[admin] Pretty print and colorize JSON fields in models (#168)
  Makefile
  dnd5esheets/admin/__init__.py
  dnd5esheets/admin/admin.mk
  dnd5esheets/admin/admin.py
  dnd5esheets/admin/statics/pygments.css
  dnd5esheets/admin/templates/details_custom.html
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

Add missing mixin
  dnd5esheets/models.py
Labels: backend

Update requirements.txt
  requirements.txt
Labels: none

Add APIs to equip and unequip an item for a given character
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/equipped_item.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_equipped_item.py
Labels: api, backend

Update schema and client
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
Labels: api, frontend

Fix violations
  dnd5esheets/tests/test_repository_equipped_item.py
Labels: backend
