Repository brouberol/5esheets, changes with the labels that .github/labeler.yml gives for each.
All labels: api, database, backend, frontend, security, ci, dependencies

.github/labeler.yml:

# https://github.com/actions/labeler
api:
  - dnd5esheets/api/*.py
  - dnd5esheets/front/openapi.json

database:
  - dnd5esheets/migrations/versions/*.py

backend:
  - dnd5esheets/**/*.py
  - poetry.lock
  - pyproject.toml

frontend:
  - any:
      [
        "dnd5esheets/front/**",
        "!dnd5esheets/front/openapi.json",
        "!dndsheets/front/src/5esheets-client/**",
      ]

security:
  - dnd5esheets/security/*.py

ci:
  - .github/**

dependencies:
  - poetry.lock
  - pyproject.toml
  - dnd5esheets/front/package.json
  - dnd5esheets/front/package-lock.json

Add comment to autodocument the make front-run-dev
  Makefile
Labels: none

Remove and fix all ignored typing violations
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/party.py
  dnd5esheets/repositories/player.py
Labels: backend

Recompute the proficiency bonus from the character level
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Recompute the proficiency bonus from the character level
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Recompute the passive perception when the wisdom score or proficiency bonus change
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Update dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Update dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Recompute the passive perception when the wisdom score or proficiency bonus change
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Cleanup
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Automatically recompute the initiative score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Automatically recompute the spell DC score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Automatically recompute the spell attack bonus score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Hide autogenerated code in PRs
  .gitattributes
Labels: none

Mark all json files under dnd5esheets/data as autogenerated
  .gitattributes
Labels: none

Add equipment related models
  dnd5esheets/migrations/versions/c097e4aceca2_add_equipment_models.py
  dnd5esheets/models.py
Labels: database, backend

Configure the alembic db engine to generate SQLite-compatible migrations
  dnd5esheets/migrations/env.py
Labels: backend

Add equipment related schemas
  dnd5esheets/schemas.py
Labels: backend

Fix cryptic sqlalchemy error by following their suggestion
  dnd5esheets/repositories/base.py
Labels: backend

Cleanup
  dnd5esheets/db.py
  dnd5esheets/repositories/character.py
Labels: backend

Add generated client code
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/EquipmentSchema.ts
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ItemSchema.ts
Labels: api, frontend

Add commands to import the base items in DB
  Makefile
  dnd5esheets/cli.py
Labels: backend

Import and pre-process the SRD basic equipment/items list
  Makefile
  dnd5esheets/data/items-base.json
  scripts/preprocess_base_item_json.py
Labels: none

Eliminate useless intermediary Equipment model
  dnd5esheets/cli.py
  dnd5esheets/data/items-base.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/EquipmentSchema.ts
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/migrations/versions/ac918762ed96_add_equipment_models.py
  dnd5esheets/models.py
  dnd5esheets/schemas.py
Labels: api, database, backend, frontend

Fix queries preventing to display parties with no members
  dnd5esheets/repositories/party.py
Labels: backend

Don't include the character sheet data when listing a player's characters
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/schemas.py
Labels: api, backend, frontend

Automatically recompute the spell DC score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Automatically recompute the spell attack bonus score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Automatically recompute the initiative score
  dnd5esheets/front/src/store/index.ts
Labels: frontend

Import and pre-process the SRD basic equipment/items list
  Makefile
  dnd5esheets/data/items-base.json
  scripts/preprocess_base_item_json.py
Labels: none

Fix cryptic sqlalchemy error by following their suggestion
  dnd5esheets/repositories/base.py
Labels: backend

Eliminate useless intermediary Equipment model
  dnd5esheets/cli.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/EquipmentSchema.ts
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/migrations/versions/ac918762ed96_add_equipment_models.py
  dnd5esheets/models.py
  dnd5esheets/schemas.py
Labels: api, database, backend, frontend

Add equipment related models
  dnd5esheets/migrations/versions/c097e4aceca2_add_equipment_models.py
  dnd5esheets/models.py
Labels: database, backend

Cleanup
  dnd5esheets/db.py
  dnd5esheets/repositories/character.py
Labels: backend

Add equipment related schemas
  dnd5esheets/schemas.py
Labels: backend

Add commands to import the base items in DB
  Makefile
  dnd5esheets/cli.py
Labels: backend

Configure the alembic db engine to generate SQLite-compatible migrations
  dnd5esheets/migrations/env.py
Labels: backend

Add generated client code
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/EquipmentSchema.ts
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/models/ItemSchema.ts
Labels: api, frontend

Automatically infer __tablename__
  dnd5esheets/models.py
Labels: backend

Automatically add created_at/updated_at columns to all models
  dnd5esheets/migrations/versions/cb612db24d70_add_created_updated_at_to_all_models.py
  dnd5esheets/models.py
Labels: database, backend

Define a test configuration
  dnd5esheets/config/__init__.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
Labels: backend
