Repository brouberol/5esheets, pull requests merged in 2023-08, with the labels that each got.

#167 Harden the schema of a Spell data
  dnd5esheets/admin.py
  dnd5esheets/cli.py
  dnd5esheets/data/spells.json
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchema.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPartyNoData.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSchemaNoPlayer.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/KnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/MagicSchool.ts
  dnd5esheets/front/src/5esheets-client/models/Spell.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchemaNoData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/Spells.ts
  dnd5esheets/migrations/versions/a4d56d02c64b_link_spells_to_character.py
  dnd5esheets/models.py
  dnd5esheets/schemas.py
  scripts/preprocess_spells_json.py
Labels: database, backend, frontend, api

#168 [admin] Pretty print and colorize JSON fields in models
  Makefile
  dnd5esheets/admin/__init__.py
  dnd5esheets/admin/admin.mk
  dnd5esheets/admin/admin.py
  dnd5esheets/admin/statics/pygments.css
  dnd5esheets/admin/templates/details_custom.html
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#169 Add APIs to equip and unequip an item for a given character
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/EquippedItemSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/equipped_item.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_equipped_item.py
Labels: backend, frontend, api

#170 Add APIs to prepare and unprepare a spell for a given character
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/RestrictedKnownSpellSchema.ts
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/known_spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: backend, frontend, api

#171 Add an API to display a spell
  dnd5esheets/api/root.py
  dnd5esheets/api/spell.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/DurationUnit.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCasting.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellDuration.ts
  dnd5esheets/front/src/5esheets-client/models/SpellMeta.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRangeDistance.ts
  dnd5esheets/front/src/5esheets-client/models/SpellScalingLevel.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSchema.ts
  dnd5esheets/front/src/5esheets-client/models/SpellSource.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTime.ts
  dnd5esheets/front/src/5esheets-client/models/SpellTranslation.ts
  dnd5esheets/front/src/5esheets-client/models/TimeUnit.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/spell.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  dnd5esheets/tests/test_repository_spell.py
Labels: backend, frontend, api

#172 Add an API to display an item
  dnd5esheets/api/item.py
  dnd5esheets/api/root.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_repository_item.py
Labels: backend, frontend, api

#173 Inject an etag response header when getting a spell or an item
  dnd5esheets/api/item.py
  dnd5esheets/api/spell.py
  dnd5esheets/etag.py
  dnd5esheets/models.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_api_spell.py
Labels: backend, api

#174 Add APIs to learn and forget a spell
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/front/src/5esheets-client/services/SpellService.ts
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/spell.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: backend, frontend, api

#175 Add APIs to add/remove and item to/from the character's equipment
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/item.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_repository_character.py
Labels: backend, api

#176 Create the app via the app factory pattern
  Makefile
  dnd5esheets/__init__.py
  dnd5esheets/api/__init__.py
  dnd5esheets/api/root.py
  dnd5esheets/app.py
  dnd5esheets/exceptions.py
  dnd5esheets/middleware.py
  dnd5esheets/spa.py
  dnd5esheets/tests/conftest.py
  scripts/start-app.sh
Labels: backend, api

#178 Validate the schema of each spell in DB in unit tests
  dnd5esheets/data/spells.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/SpellCastingMaterial.ts
  dnd5esheets/front/src/5esheets-client/models/SpellData.ts
  dnd5esheets/front/src/5esheets-client/models/SpellRange.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_spell.py
  scripts/preprocess_spells_json.py
Labels: backend, frontend, api

#179 Allow the server to run with a profiling middleware, to measure spent time in request handling
  .gitignore
  Makefile
  dnd5esheets/config/base.py
  dnd5esheets/middlewares.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#180 Replace the stdlib json module by orjson
  dnd5esheets/admin/admin.py
  dnd5esheets/app.py
  dnd5esheets/cli.py
  dnd5esheets/exceptions.py
  dnd5esheets/models.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#181 By default, a model's etag is the sha1 of its last update datetime
  dnd5esheets/models.py
Labels: backend

#182 Hide openapi/docs/redoc pages in production
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
Labels: backend

#194 Implement a solid logging strategy
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/logs.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#198 Inject a unique correlation ID in each log emitted during a request's lifespan
  dnd5esheets/logs.py
  dnd5esheets/middlewares.py
Labels: backend

#199 wire the store with the API to fetch character list and characters
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/AbilityName.ts
  dnd5esheets/front/src/5esheets-client/models/DurationUnit.ts
  dnd5esheets/front/src/5esheets-client/models/MagicSchool.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiency.ts
  dnd5esheets/front/src/5esheets-client/models/SpellCastingFocusType.ts
  dnd5esheets/front/src/5esheets-client/models/TimeUnit.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponCategory.ts
  dnd5esheets/front/src/5esheets-client/models/WeaponType.ts
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/Counter.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/routes/characters/[slug].tsx
  dnd5esheets/front/src/routes/characters/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

#200 wire effects on inserting character into store
  dnd5esheets/front/src/store/index.ts
Labels: frontend

#201 Typecheck the front codebase
  Makefile
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/index.test.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend, ci

#202 Express the spell dc effect calculation with the spell attack bonus value
  dnd5esheets/front/src/store/index.ts
Labels: frontend

#203 Cleanup translations & add english translations
  dnd5esheets/front/src/i18n/index.tsx
Labels: i18n, frontend

#206 Add proper borders for ability score boxes
  dnd5esheets/front/public/assets/border-ability-charisma.svg
  dnd5esheets/front/public/assets/border-ability-constitution.svg
  dnd5esheets/front/public/assets/border-ability-dexterity.svg
  dnd5esheets/front/public/assets/border-ability-intelligence.svg
  dnd5esheets/front/public/assets/border-ability-strength.svg
  dnd5esheets/front/public/assets/border-ability-wisdom.svg
  dnd5esheets/front/public/assets/border-proficiency-bonus-center.svg
  dnd5esheets/front/public/assets/border-proficiency-bonus-left.svg
  dnd5esheets/front/public/assets/border-proficiency-bonus-right.svg
  dnd5esheets/front/public/assets/border-proficiency-bonus.svg
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/components/TrayBox.tsx
Labels: frontend

#207 Implement a full text search service for Items using SQLite fts5
  dnd5esheets/api/item.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/SearchResult.ts
  dnd5esheets/front/src/5esheets-client/services/ItemService.ts
  dnd5esheets/migrations/versions/623e8558c9ba_add_item_full_text_search_table.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/item.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_item.py
  dnd5esheets/tests/test_repository_item.py
Labels: database, backend, api

#209 Implement the spell search API
  dnd5esheets/api/spell.py
  dnd5esheets/migrations/versions/e3f5418ab972_add_spell_full_text_search_table.py
  dnd5esheets/repositories/spell.py
  dnd5esheets/tests/test_api_spell.py
  dnd5esheets/tests/test_repository_item.py
  dnd5esheets/tests/test_repository_spell.py
Labels: database, backend, api

#208 Fix: if the whole ability score is deleted, don't insert NaN in the label
  dnd5esheets/front/src/components/CharacterSheet.tsx
Labels: frontend

#222 Sort SQL migrations by ASC date to make them more discoverable
  alembic.ini
  dnd5esheets/migrations/versions/2023_06_22_10_09_31dc8f2d4efb_first_migration.py
  dnd5esheets/migrations/versions/2023_06_24_23_09_45_5300f3813592_user_password.py
  dnd5esheets/migrations/versions/2023_06_27_15_46_ac918762ed96_add_equipment_models.py
  dnd5esheets/migrations/versions/2023_06_27_16_51_cb612db24d70_add_created_updated_at_to_all_models.py
  dnd5esheets/migrations/versions/2023_07_19_17_40_75d60ad2f121_character_nullable_fields.py
  dnd5esheets/migrations/versions/2023_07_19_19_39_3fb13bacd9e0_character_slug_unique_per_player.py
  dnd5esheets/migrations/versions/2023_07_25_16_37_d4d2b2fce5f8_spell_table.py
  dnd5esheets/migrations/versions/2023_08_02_16_15_a4d56d02c64b_link_spells_to_character.py
  dnd5esheets/migrations/versions/2023_08_09_15_45_623e8558c9ba_add_item_full_text_search_table.py
  dnd5esheets/migrations/versions/2023_08_10_14_15_e3f5418ab972_add_spell_full_text_search_table.py
Labels: database, backend

#224 Add a make rule to generate a PNG representing the SQLAlchemy models
  Makefile
  model_graph.png
  poetry.lock
  pyproject.toml
  scripts/generate_model_graph.py
Labels: backend, dependencies

#228 Protect API resources with security policies when multitenancy is enabled
  .github/labeler.yml
  dnd5esheets/admin/admin.py
  dnd5esheets/api/character.py
  dnd5esheets/api/party.py
  dnd5esheets/api/player.py
  dnd5esheets/cli.py
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/exceptions.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/PartyService.ts
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/equipped_item.py
  dnd5esheets/repositories/known_spell.py
  dnd5esheets/repositories/party.py
  dnd5esheets/repositories/player.py
  dnd5esheets/security/policies/__init__.py
  dnd5esheets/security/policies/base.py
  dnd5esheets/security/policies/character.py
  dnd5esheets/security/policies/party.py
  dnd5esheets/security/policies/player.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_party.py
  dnd5esheets/tests/test_api_player.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_equipped_item.py
  dnd5esheets/tests/test_repository_party.py
  dnd5esheets/tests/utils.py
Labels: backend, security, api

#232 Improve migration readability by replacing json_extract by ->> operator
  dnd5esheets/migrations/versions/2023_08_09_15_45_623e8558c9ba_add_item_full_text_search_table.py
  dnd5esheets/migrations/versions/2023_08_10_14_15_e3f5418ab972_add_spell_full_text_search_table.py
Labels: database, backend

#237 Automatically generate a visual representation of the makefile, to help debug dependency issues
  Makefile
  doc/makefile.png
  doc/model_graph.png
  poetry.lock
  pyproject.toml
  scripts/cleanup_makefile2dot_output.py
  scripts/generate_model_graph.py
Labels: backend, dependencies
