Repository brouberol/5esheets, pull requests merged in 2023-11, with the labels that each got.

#257 Run tests on both python3.11 and python3.12
  .github/workflows/testing-backend.yml
Labels: ci

#258 Allow the dev app to run in both 127.0.0.1/localhost:3000
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/middlewares.py
Labels: backend

#260 Add exhaustion level to the main character data schema
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/schemas.py
Labels: backend, api

#262 Document the project and host the docs on github pages
  .github/labeler.yml
  .github/workflows/docs.yml
  Makefile
  doc/makefile.png
  docs/getting-started.md
  docs/images/makefile.png
  docs/images/model_graph.png
  docs/index.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
Labels: backend, dependencies, ci

#264 Lint github actions using actionlint
  .github/workflows/docs.yml
  .github/workflows/lint-gh-actions.yml
Labels: ci

#265 Restore SQLAlchemy columns named data now that sqladmin 0.16.0 has been published
  dnd5esheets/admin/admin.py
  dnd5esheets/models.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#267 Add NumberInput, first component and storybook for more
  dnd5esheets/front/.eslintrc.json
  dnd5esheets/front/.storybook/main.ts
  dnd5esheets/front/.storybook/preview.ts
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/components/number-input/index.stories.tsx
  dnd5esheets/front/src/components/number-input/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/src/storybook/helper.ts
Labels: frontend, dependencies

#270 Import lucide icons directly
  dnd5esheets/front/src/components/icons/icon.tsx
  dnd5esheets/front/src/components/icons/minus.tsx
  dnd5esheets/front/src/components/icons/plus.tsx
  dnd5esheets/front/src/components/number-input/index.tsx
Labels: frontend
