Repository brouberol/5esheets, pull requests merged in 2023-07, with the labels that each got.

#89 add the effect interpreter
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.test.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/vitest.config.js
Labels: frontend, dependencies

#100 Store the JWT in client cookies
  dnd5esheets/api/login.py
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/dev.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/JsonWebToken.ts
  dnd5esheets/front/src/5esheets-client/services/LoginService.ts
  dnd5esheets/security/jwt.py
  dnd5esheets/security/user.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_api_login.py
  dnd5esheets/tests/test_api_party.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backend, frontend, dependencies, security, api

#97 Run the frontend unit tests in CI
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  Makefile
Labels: ci

#101 Setup CORS to allow API calls to come from the dev frontend server
  Makefile
  dnd5esheets/app.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
Labels: backend, frontend

#121 List characters by hitting the /api/character/ API
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/routes/index.tsx
Labels: frontend

#124 Enforce character slug uniqueness per player id
  dnd5esheets/app.py
  dnd5esheets/migrations/versions/3fb13bacd9e0_character_slug_unique_per_player.py
  dnd5esheets/models.py
  dnd5esheets/repositories/__init__.py
  dnd5esheets/repositories/base.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
Labels: database, backend

#127 Compute the ETag of a character, to enable browser-side caching
  dnd5esheets/api/character.py
  dnd5esheets/app.py
  dnd5esheets/etag.py
  dnd5esheets/exceptions.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
Labels: backend, api

#128 Add tests for all repositories
  dnd5esheets/db.py
  dnd5esheets/repositories/character.py
  dnd5esheets/repositories/party.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
  dnd5esheets/tests/test_repository_party.py
  dnd5esheets/tests/test_repository_player.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies

#129 Implement the Character deletion API
  dnd5esheets/api/character.py
  dnd5esheets/repositories/character.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
Labels: backend, api

#138 Rename displayCharacter to getCharacter
  dnd5esheets/api/character.py
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/services/CharacterService.ts
Labels: backend, frontend, api

#139 Define an admin interface for DB models using sqlmodel
  dnd5esheets/admin.py
  dnd5esheets/app.py
  dnd5esheets/models.py
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: backend, dependencies

#140 Tweak prettier configuration file and automatically reformat frontend codebase
  .editorconfig
  dnd5esheets/front/.prettierrc.json
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/Counter.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/index.test.ts
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/entry-client.tsx
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/i18n/index.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/[...404].tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/vite.config.ts
  dnd5esheets/front/vitest.config.js
Labels: frontend

#156 Switch to an SPA architecture
  dnd5esheets/front/README.md
  dnd5esheets/front/index.html
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/5esheets-client/core/OpenAPI.ts
  dnd5esheets/front/src/5esheets-client/models/SpellOrigin.ts
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/assets/background-1.svg
  dnd5esheets/front/src/assets/border-1.svg
  dnd5esheets/front/src/assets/favicon.ico
  dnd5esheets/front/src/assets/font/Bookinsanity.otf
  dnd5esheets/front/src/assets/font/Mr Eaves Small Caps.otf
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/entry-client.tsx
  dnd5esheets/front/src/entry-server.tsx
  dnd5esheets/front/src/index.tsx
  dnd5esheets/front/src/root.tsx
  dnd5esheets/front/src/routes/[...404].tsx
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
  dnd5esheets/front/tsconfig.json
  dnd5esheets/front/vite.config.ts
Labels: frontend, dependencies

#157 add linter
  Makefile
  dnd5esheets/front/.eslintrc.json
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/App.tsx
  dnd5esheets/front/src/components/BorderBox.tsx
  dnd5esheets/front/src/components/CharacterList.tsx
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/components/LabeledBox.tsx
  dnd5esheets/front/src/components/LabeledInput.tsx
  dnd5esheets/front/src/components/Layout.tsx
  dnd5esheets/front/src/components/ProficientAttribute.tsx
  dnd5esheets/front/src/components/ScoreBox.tsx
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/routes/character/[slug].tsx
  dnd5esheets/front/src/routes/index.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

#141 Revamp the effect system to add more capabilities
  dnd5esheets/front/src/effects/index.test.ts
  dnd5esheets/front/src/effects/index.ts
  dnd5esheets/front/src/effects/parser/grammar.pegjs
  dnd5esheets/front/src/effects/parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: enhancement, frontend

#148 Refactor the abilities and skills data schema
  dnd5esheets/db/fixtures/dev.json
  dnd5esheets/front/openapi.json
  dnd5esheets/front/src/5esheets-client/index.ts
  dnd5esheets/front/src/5esheets-client/models/Abilities.ts
  dnd5esheets/front/src/5esheets-client/models/Ability.ts
  dnd5esheets/front/src/5esheets-client/models/CharacterSheet.ts
  dnd5esheets/front/src/5esheets-client/models/Proficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/SaveProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Scores.ts
  dnd5esheets/front/src/5esheets-client/models/Skill.ts
  dnd5esheets/front/src/5esheets-client/models/SkillProficiencies.ts
  dnd5esheets/front/src/5esheets-client/models/Skills.ts
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_api_character.py
  dnd5esheets/tests/test_model.py
  dnd5esheets/tests/test_repository_character.py
Labels: backend, frontend, api

#151 Import all spells from PHB, TCE & XGE to DB
  Makefile
  dnd5esheets/admin.py
  dnd5esheets/cli.py
  dnd5esheets/data/data.mk
  dnd5esheets/data/spells-phb.json
  dnd5esheets/data/spells-tce.json
  dnd5esheets/data/spells-xge.json
  dnd5esheets/data/spells.json
  dnd5esheets/data/translations-spells-fr.json
  dnd5esheets/migrations/versions/d4d2b2fce5f8_spell_table.py
  dnd5esheets/models.py
  dnd5esheets/tests/test_model.py
  scripts/preprocess_base_item_json.py
  scripts/preprocess_spells_json.py
Labels: enhancement, database, backend

#155 Add validation on character level
  dnd5esheets/models.py
  dnd5esheets/schemas.py
  dnd5esheets/tests/test_model.py
Labels: backend

#166 Trigger a workflow to update requirements.txt when dependabot creates a PR
  .github/workflows/update-requirements-after-dependabot.yml
Labels: ci
