Repository brouberol/5esheets, pull requests merged in 2023-06, with the labels that each got.

#8 Scaffold app translation based on browser accepetd language
  5esheets/app.py
  5esheets/templates/character.html
  5esheets/translations/en/LC_MESSAGES/messages.mo
  5esheets/translations/en/LC_MESSAGES/messages.po
  5esheets/translations/fr/LC_MESSAGES/messages.mo
  5esheets/translations/fr/LC_MESSAGES/messages.po
  5esheets/translations/messages.pot
  Makefile
  babel.cfg
  poetry.lock
  pyproject.toml
  requirements.txt
Labels: i18n

#20 Implement a light/dark theme
  5esheets/static/css/components.css
  5esheets/static/css/regular.css
  5esheets/static/css/vars.css
Labels: enhancement, css

#24 Display a tooltip explaining the skill, passive perception, spell DC and spell attack bonus scores
  5esheets/static/css/components.css
  5esheets/static/css/vars.css
  5esheets/static/js/index.js
  5esheets/templates/character.html
  5esheets/templates/spells.html
Labels: enhancement

#47 Apply alembic migrations at startup before exec-ing uvicorn
  Dockerfile
  scripts/start-app.sh
Labels: database, backend

#68 Automatically label PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#69 Add labeling rule for security-related PRs
  .github/labeler.yml
Labels: ci

#72 Recompute the proficiency bonus from the character level
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/store/index.ts
Labels: frontend

#74 Add computation effects for initiative, spell DC and spell attack bonus
  dnd5esheets/front/src/store/index.ts
Labels: frontend

#78 Import and pre-process the SRD basic equipment/items list
  Makefile
  dnd5esheets/data/items-base.json
  scripts/preprocess_base_item_json.py
Labels: database

#81 Setup backend testing
  .github/workflows/testing.yml
  Makefile
  dnd5esheets/app.py
  dnd5esheets/cli.py
  dnd5esheets/config/__init__.py
  dnd5esheets/config/base.py
  dnd5esheets/config/prod.py
  dnd5esheets/config/test.py
  dnd5esheets/db.py
  dnd5esheets/tests/__init__.py
  dnd5esheets/tests/conftest.py
  dnd5esheets/tests/test_api_character.py
  poetry.lock
  pyproject.toml
Labels: backend, dependencies, ci

#83 Run backend quality checkers in CI
  .github/workflows/testing.yml
  Makefile
  dnd5esheets/migrations/versions/cb612db24d70_add_created_updated_at_to_all_models.py
  dnd5esheets/models.py
  pyproject.toml
Labels: database, backend, dependencies, ci

#82 add parser for effect rules
  .gitattributes
  .vscode/extensions.json
  dnd5esheets/front/.prettierignore
  dnd5esheets/front/package-lock.json
  dnd5esheets/front/package.json
  dnd5esheets/front/src/components/CharacterSheet.tsx
  dnd5esheets/front/src/effect-parser/grammar.pegjs
  dnd5esheets/front/src/effect-parser/index.test.ts
  dnd5esheets/front/src/effect-parser/index.ts
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies

#84 Run prettier in CI
  .github/workflows/testing-backend.yml
  .github/workflows/testing-frontend.yml
  Makefile
  dnd5esheets/front/package.json
  dnd5esheets/front/src/store/index.ts
Labels: frontend, dependencies, ci

#85 Cache checker internal files
  .github/workflows/testing-backend.yml
Labels: ci

#88 Fetch item translations from the `foundryvtt-dnd5e-lang-fr-fr` module data
  Makefile
  dnd5esheets/data/items-base.json
  dnd5esheets/data/translations-items-fr.json
  poetry.lock
  pyproject.toml
  scripts/preprocess_base_item_json.py
Labels: backend, dependencies
